#appCard {
  background: #fff9e1;
}

#show-important {
  background: #ffd505;
  /* border: 3px solid rgb(99, 64, 0); */
  font-weight: 600;
}

#btn-importance {
  background: #ffd505;
  /* border: 3px solid rgb(99, 64, 0); */
  font-weight: 600;
}

#btn-delete {
  background: #ffa573;
  /* border: 3px solid rgb(99, 64, 0); */
  font-weight: 600;
}

#btn-save {
  background: #ffd505;
  /* border: 3px solid rgb(99, 64, 0); */
  font-weight: 600;
}

#noteCard {
  background: #fffaee;
}

#textarea {
  background: #fffaee;
}

ul {
  list-style-type: none;
}
