body {
  background-color: rgb(213, 213, 213);
  font-family: monospace;
}

h1 {
  color: rgb(35, 35, 35);
  font-weight: bolder;
}

.note {
  color: rgb(213, 213, 213);
  padding-top: 3px;
  font-size: 15px;
  margin-bottom: 10px;
}

.appList {
  border: 3px solid rgb(125, 125, 125);
  border-radius: 10px;
  background-color: rgb(35, 35, 35);
}

.btnImportant {
  background-color: rgb(213, 213, 213);
  margin-top: 15px;
  margin-left: 15px;
}

#btnImp {
  margin-bottom: 5px;
}

.newNote {
  margin-bottom: 15px;
  margin-left: 15px;
}

/* .error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
} */

.title {
  color: rgb(35, 35, 35);
  font-weight: bolder;
  margin-left: 15px;
  font-size: 40px;
}
