body{
    background-color: #eee;
    font-size: 1.5em;
}

p{
    max-width: 200px;
    
    background-color: aquamarine;
    margin: auto;
    position: fixed;
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    
}
div{
    position: relative;
}